body{
	font-family: Arial, "Helvetica Neue", 
	Helvetica, sans-serif;
	background-image: url(img/fondo.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;

}	
/* contenedor encabezado*/
#titular{
	background-color: #026AA7;
	color: #fff;
	text-align:center;
	height: 100px;
	width: 1280px;
	position: relative;	
	margin-top: -22px;
	margin-left: -8px;
}

/* Logo Trello*/
#logo {
	height: auto;
	width: 14%;
	opacity: 0.5;
	padding-top: 8px;
}
